iterm*
marimo
ranger
.DS_Store
containers
gh_ssh.txt
theme.toml-*
theme.toml-*

BraveSoftware/
Code/
dconf/
enchant/
eog/
evince/
evolution/
gnome-session/
goa-1.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
lazygit/
nautilus/
procps/
pulse/
systemd/
tiling-assistant/
update-notifier/
vlc/
yelp/
GNOME-xdg-terminals.list
QtProject.conf
gnome-initial-setup-done
mimeapps.list
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
.gsd-keyboard.settings-ported

